<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trips">
      <ion-icon name="square"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="square"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
