<div
  class="flex justify-start items-center gap-4 bg-gray-light w-full mb-6 shadow-md rounded-xl py-2 px-2"
  (click)="goToPlace()"
>
  <div class="flex justify-center items-center w-[4.5rem] h-16">
    <img
      class="w-full h-full rounded-lg object-cover"
      src="{{ place.photo_url }}"
      alt="card-image"
    />
  </div>
  <div class="flex flex-col justify-between flex-grow h-full gap-1">
    <div class="flex justify-between items-center">
      <h4 class="font-medium text-sm">{{ place.name }}</h4>
      <div
        *ngIf="place.isFavorited; else otherFav"
        (click)="toggleFavoritePlace()"
        class="cursor-pointer"
      >
        <img src="assets/icon/card_favorite_primary.svg" alt="" />
      </div>
      <ng-template #otherFav>
        <img
          src="assets/icon/card_favorite.svg"
          alt=""
          (click)="toggleFavoritePlace()"
          class="cursor-pointer"
        />
      </ng-template>
    </div>

    <div class="text-gray text-xs flex gap-1 items-center">
      <img src="assets/icon/card_category.svg" alt="" />
      <p>{{ place.category.name }}</p>
    </div>

    <div class="flex justify-between items-center">
      <div class="text-gray text-xs flex gap-1 items-center">
        <img src="assets/icon/card_location.svg" alt="" />
        <p>{{ place.district }}, {{ place.city }}</p>
      </div>
    </div>
  </div>
</div>
