<ion-content>
  <div class="flex flex-col gap-10 px-4 pt-6">
    <div class="flex gap-2 items-center">
      <ion-icon
        name="arrow-back-outline"
        class="absolute"
        (click)="goBack()"
      ></ion-icon>
      <h1 class="text-2xl text-center flex-grow">{{trip.name}}</h1>
    </div>

    <div class="flex items-center justify-between">
      <h2>Date:</h2>
      <div class="text-lg font-medium">
        <h2>{{trip.start_date}}</h2>
        <h2>{{trip.end_date}}</h2>
      </div>
    </div>
  </div>

  <ion-list [inset]="true" *ngIf="!emptyPlaces; else isEmpty" lines="none">
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-reorder *ngFor="let place of trip.places">
        <trip-place-card [place]="place"></trip-place-card>
      </ion-reorder>
    </ion-reorder-group>

    <img
      src="assets/images/trip_place_card_left_bttom.svg"
      alt=""
      class="pl-[1px]"
    />
  </ion-list>

  <ng-template #isEmpty>
    <div class="flex flex-col justify-center items-center mt-12">
      <img src="assets/images/empty_state_3.svg" alt="" />
      <p class="text-gray font-medium text-sm mt-4 text-center">
        No Places Added<br />
        Add Some!
      </p>
    </div>
  </ng-template>
</ion-content>
