<ion-content class="relative" *ngIf="profileUser">
  <ion-icon
    name="arrow-back"
    class="mt-4 ml-4 text-lg"
    (click)="goBack()"
  ></ion-icon>

  <div class="flex w-full justify-start px-4 mt-4 h-28 gap-4">
    <img
      src="{{profileUser.profile_photo_url}}"
      class="w-28 rounded-lg border-primary border-2 border-solid"
      alt="profile photo"
    />
    <div class="flex flex-col justify-between h-full w-full">
      <div class="flex w-full justify-between items-center">
        <h1 class="font-medium text-xl">{{profileUser.username}}</h1>
        <ion-icon
          src="assets/icon/edit_pen.svg"
          *ngIf="viewingOwnProfile"
          id="open-editprofile-modal"
          expand="block"
        ></ion-icon>
      </div>
      <div class="flex flex-col gap-3 text-gray text-sm">
        <h1>Joined at:</h1>
        <div class="flex gap-2 items-centerh">
          <ion-icon name="calendar-number-outline" class="text-lg"></ion-icon>
          <h1>{{profileUser.joined_at | date: 'dd/MM/yyyy'}}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full px-4 mt-24">
    <div class="flex flex-col gap-2 bg-gray-200 rounded p-4">
      <div class="flex justify-between items-center">
        <div class="flex gap-2 items-start">
          <ion-icon src="assets/icon/coin.svg" size="large"></ion-icon>
          <h2 class="text-lg">Credit Score:</h2>
        </div>
        <h1 class="font-medium text-lg">{{profileUser.credit_score}}</h1>
      </div>
      <div class="flex justify-between items-center">
        <div class="flex gap-2 items-start">
          <ion-icon src="assets/icon/rank.svg" size="large"></ion-icon>
          <h2 class="text-lg">Rank:</h2>
        </div>
        <h1 class="font-medium text-lg">{{profileUser.rank}}</h1>
      </div>
    </div>
  </div>

  <ion-modal #modal trigger="open-editprofile-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="relative text-center">
          <ion-title>Edit Your Profile</ion-title>
          <ion-icon
            name="arrow-back"
            class="absolute top-3 left-3 text-lg"
            (click)="modal.dismiss()"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content class="relative">
        <div
          class="border-dashed border-gray border-2 gap-4 flex flex-col items-center justify-center m-4 p-4"
          (click)="changeProfilePicture()"
        >
          <img
            src="{{profileUser.profile_photo_url}}"
            class="w-24 rounded-lg border-primary border-2 border-solid"
            alt="profile photo"
          />
          <h2>Update Profile Picture</h2>
        </div>

        <ion-item class="mt-6 mx-4">
          <ion-label position="floating">{{currentUser.username}}</ion-label>
          <ion-input
            placeholder="Change Username"
            inputmode="name"
            [(ngModel)]="newUsername"
          ></ion-input>
        </ion-item>

        <div
          class="absolute bottom-4 right-4 btn btn-primary"
          (click)="updateProfile()"
        >
          UPDATE
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal trigger="open-leaderboard-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar class="relative text-center">
          <ion-title>LeaderBoard</ion-title>
          <ion-icon
            name="arrow-back"
            class="absolute top-3 left-3 text-lg"
            (click)="modal.dismiss()"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="flex flex-col w-full items-center gap-4 mt-4">
          <img
            src="{{profileUser.profile_photo_url}}"
            class="w-24 rounded-lg border-primary border-2 border-solid"
            alt="profile photo"
          />
          <h2>Your score: {{profileUser.credit_score}}</h2>
          <h2>Your rank: {{profileUser.rank}}</h2>
        </div>

        <ion-list lines="none" class="mt-4">
          <ion-item
            *ngFor="let user of leaderboardUsers; let i = index"
            (click)="goToUser(user.id)"
          >
            <div
              class="w-full mx-4 px-4 bg-gray-200 rounded-xl flex items-center gap-2"
            >
              <h1 class="text-lg">{{i + 1}}</h1>
              <div class="bg-gray-300 h-12 w-1"></div>
              <img
                src="{{user.profile_photo_url}}"
                alt="user pp"
                class="w-8 rounded"
              />
              <div class="w-full flex justify-between items-center">
                <h2>{{user.username}}</h2>
                <h2>{{user.credit_score}}</h2>
              </div>
            </div>
          </ion-item>

          <ion-infinite-scroll
            threshold="100px"
            (ionInfinite)="loadMore($event)"
          >
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more users..."
            >
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div
    class="absolute bottom-4 left-4 btn btn-outlined"
    id="open-leaderboard-modal"
    expand="block"
  >
    leaderboard
  </div>
</ion-content>
