div[scrollx="true"],
div[scrolly="true"] {
    position: relative;
    overflow: hidden;
}

div[scrollx="true"] {
    overflow-x: auto;
}

div[scrolly="true"] {
    overflow-y: auto;
}
ion-modal {
    --height: 75%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(42, 44, 54, 1);
}

ion-modal ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    text-align: center;
}
