<ion-content #content>
  <div class="h-screen relative w-full" *ngIf="place">
    <img class="h-[50%] object-cover object-center" src="{{place.photo_url}}" />
    <div class="h-[50%] w-full relative">
      <div
        class="absolute h-16 bg-white z-10 -top-14 w-full rounded-t-[2.5rem] font-medium text-2xl py-3 px-5 flex items-end"
      >
        {{place.name}}
      </div>
      <div class="flex justify-between items-center text-sm py-2 px-4">
        <div class="flex gap-1 justify-center items-center">
          <ion-icon name="location" color="medium" class="text-lg"></ion-icon>
          <p class="text-gray">{{place.district}}, {{place.city}}</p>
        </div>
        <div class="flex items-center justify-between gap-2">
          <ion-icon name="star" color="primary"></ion-icon>
          <p class="text-gray">{{place.avg_rating}} ({{place.num_reviews}})</p>
        </div>
      </div>
      <div class="px-5 flex gap-1 justify-start items-center">
        <ion-icon
          src="assets/icon/card_category.svg"
          size="small"
          color="medium"
        ></ion-icon>
        <p class="text-gray text-sm">{{place.category.name}}</p>
      </div>

      <div class="p-4">
        <div class="flex justify-around items-center">
          <div
            class="relative text-gray cursor-pointer"
            [class.text-primary]="currentTab === 'overview'"
            (click)="toggleTab()"
          >
            Overview
            <div
              class="absolute w-[0.35rem] h-[0.35rem] bg-primary -bottom-1 left-1/2 rounded-full"
              *ngIf="currentTab === 'overview'"
            ></div>
          </div>
          <div
            class="relative text-gray cursor-pointer"
            [class.text-primary]="currentTab === 'reviews'"
            (click)="toggleTab()"
          >
            Reviews
            <div
              class="absolute w-[0.35rem] h-[0.35rem] bg-primary -bottom-1 left-1/2 rounded-full"
              *ngIf="currentTab === 'reviews'"
            ></div>
          </div>
        </div>
        <div
          *ngIf="currentTab === 'overview'"
          class="text-xs text-gray-400 pt-6 py-12 px-2 text-justify"
        >
          {{place.overview}}
        </div>

        <div *ngIf="currentTab === 'reviews'" class="pt-6 py-12 px-2">
          <p class="text-sm font-medium text-gray dark:text-gray-400">
            {{place.num_reviews}} global ratings
          </p>
          <div class="flex items-center mt-4">
            <span class="text-sm font-medium text-primary-light">5 star</span>
            <div class="w-2/4 h-5 mx-4 rounded bg-secondary-light">
              <div
                class="h-5 bg-primary-light rounded"
                style="width: 70%"
              ></div>
            </div>
            <span class="text-sm font-medium text-primary-light">70%</span>
          </div>

          <div class="flex items-center mt-4">
            <span class="text-sm font-medium text-primary-light">5 star</span>
            <div class="w-2/4 h-5 mx-4 rounded bg-secondary-light">
              <div
                class="h-5 bg-primary-light rounded"
                style="width: 70%"
              ></div>
            </div>
            <span class="text-sm font-medium text-primary-light">70%</span>
          </div>

          <div class="flex items-center mt-4">
            <span class="text-sm font-medium text-primary-light">5 star</span>
            <div class="w-2/4 h-5 mx-4 rounded bg-secondary-light">
              <div
                class="h-5 bg-primary-light rounded"
                style="width: 70%"
              ></div>
            </div>
            <span class="text-sm font-medium text-primary-light">70%</span>
          </div>

          <div class="flex items-center mt-4">
            <span class="text-sm font-medium text-primary-light">5 star</span>
            <div class="w-2/4 h-5 mx-4 rounded bg-secondary-light">
              <div
                class="h-5 bg-primary-light rounded"
                style="width: 70%"
              ></div>
            </div>
            <span class="text-sm font-medium text-primary-light">70%</span>
          </div>
          <div class="flex items-center mt-4">
            <span class="text-sm font-medium text-primary-light">5 star</span>
            <div class="w-2/4 h-5 mx-4 rounded bg-secondary-light">
              <div
                class="h-5 bg-primary-light rounded"
                style="width: 70%"
              ></div>
            </div>
            <span class="text-sm font-medium text-primary-light">70%</span>
          </div>
        </div>
      </div>

      <div class="flex justify-between fixed bottom-2 items-end w-full">
        <ion-item
          lines="none"
          class="cursor-pointer rounded-full"
          (click)="reportPlace()"
        >
          <ion-icon name="shield-half-outline" color="medium"></ion-icon>
          <p class="font-medium text-sm text-gray underline">report</p>
        </ion-item>
        <div class="btn btn-primary mr-4" (click)="addToTrip()">
          Add To Trip
        </div>
      </div>
    </div>
  </div>
</ion-content>
