<ion-content>
  <div class="flex gap-2 items-center pt-8 pl-4">
    <h1 class="text-xl">Favorited</h1>
    <img src="assets/icon/card_favorite_primary.svg" alt="" />
  </div>

  <!-- if favoritesplaces is empty display a message -->
  <ion-list [inset]="true" *ngIf="!emptyFavorites; else emptyFav">
    <fav-place-card
      *ngFor="let place of favoritesPlaces"
      [place]="place"
      (toggleFav)="toggleFav(place)"
    ></fav-place-card>
  </ion-list>
  <ng-template #emptyFav>
    <div class="flex flex-col justify-center items-center mt-6">
      <img src="assets/images/empty_state.jpg" alt="" />
      <p class="text-gray text-sm mt-4">No favorite places yet</p>
    </div>
  </ng-template>
</ion-content>
